@using Microsoft.AspNetCore.Identity
@inherits LayoutComponentBase

<PageTitle>VirtualProgrammingLab</PageTitle>
<NavMenu/>
<div class="container overflow-hidden p-3">
    <ErrorBoundary>
        <ChildContent>
            @Body
        </ChildContent>
        <ErrorContent Context="Exception">
            <h1>Oh! We have a problem🚩</h1>
            <p>@Exception.Message</p>
        </ErrorContent>
    </ErrorBoundary>
</div>

