@using Application.Data.Account
<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container-fluid">
        <a class="navbar-brand  bold" href="">Виртуальная лаборатория программирования</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <NavLink class="nav-link" aria-current="page" href="" Match="NavLinkMatch.All" >Главная</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="compiler">Компилятор</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link disabled" disabled href="fetchdata">Курсы</NavLink>
                </li>
                <AuthorizeView Roles="@(RoleController.AdminRole)">
                    <li class="nav-item dropdown">
                        <NavLink class="nav-link link-danger dropdown-toggle" href="admin" id="navbarAdminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Панель управления
                        </NavLink>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarAdminDropdown">
                            <li>
                                <NavLink class="dropdown-item " href="admin">Пользователи</NavLink>
                            </li>
                            <li>
                                <a class="dropdown-item disabled" disabled href="#">Курсы</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item disabled" disabled href="#">Статистика</a>
                            </li>
                        </ul>
                    </li>

                </AuthorizeView>
                 @* <LoginDisplay/> *@
            </ul>
        </div>
    </div>
</nav>


@code {

}