@using Microsoft.AspNetCore.Components.Web
@namespace Application.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link href="css/site.css" rel="stylesheet"/>
    <script src="@Html.Raw("https://unpkg.com/@phosphor-icons/web@2.1.1")"></script>
    <script src=@Html.Raw("https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js")
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <link href="css/prism.css" rel="stylesheet" />
        <link href="css/themes/prism-vsc-dark-plus.css" rel="stylesheet" />
        <link href="css/autocomplete.min.css" rel="stylesheet" />
        <script src="js/code-input.min.js"></script>
        <script src="js/plugins/indent.min.js"></script>
        <script src="js/plugins/autocomplete.min.js"></script>
        <script src="js/plugins/auto-close-brackets.min.js"></script>
        <link rel="stylesheet" href="css/code-input.min.css">
        <link href="css/prism-line-numbers.css" rel="stylesheet" />
    
    <link href="Application.styles.css" rel="stylesheet"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>
<body>

@RenderBody()

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script src="_framework/blazor.server.js"></script>
<script src="js/prism.js"></script>
<script src="js/plugins/prism-line-numbers.js"></script>
<script src="js/codeAreaProvider.js"></script>
<script src="js/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>