@page "/compiler"
@using Application.Rabbit
@using Application.Rabbit.Compile
@using Common.Structures
@attribute [Authorize]
@inject ILogger<Compiler> Logger
@inject IJSRuntime JsRuntime

<PageTitle>Compiler</PageTitle>
@if (_isDisabled)
{
    <p class="table-dark">Compilation service is not available now 😕</p>
    @if (!string.IsNullOrEmpty(_disabledError))
    {
        <p class="alert alert-danger">@_disabledError</p>
    }
}
else
{
    <p>Что бы компилировать и собрать программу нажмите кнопку "Отправить"</p>
    <div class="col gy-1">

        <div class="btn-toolbar my-2" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group">

                <button @onclick="Compile" disabled="@_isLoading" type="button" class="btn btn-primary">
                    @if (_isLoading)
                    {
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        @:Компиляция...
                    }
                    else
                    {
                        <span class="oi oi-play-circle" style="top: 0.13em" aria-hidden="true"></span>
                        @:Отправить
                    }
                </button>
            </div>
            <div class="btn-group me-2" role="group">
                <button type="button" class="btn btn-outline-primary">Очистить</button>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        C#
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="btnGroupDrop1">
                        <li><a class="dropdown-item" href="#">C#</a></li>
                        <li><a class="dropdown-item disabled" disabled href="#">Go</a></li>
                        <li><a class="dropdown-item disabled" disabled href="#">Python 3</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row gx-6">
            <div class="flex-fill my-2" style="height: 60vh">
                
                <code-input class="container-fluid p-0 m-0 rounded-3 line-numbers " style="height: 100%" language="csharp" placeholder="Type code here" template="syntax-highlighted" value="@_codeTemplate"></code-input>
                <textarea @onchange="CodeUpdate" @oninput="CodeUpdate" id="code-provider" aria-hidden="True" hidden></textarea>
            </div>
            <div class="flex-fil" style="height: 20vh">
                <textarea @bind="_results" class="py-2 px-4 rounded-3  code" disabled readonly style="height: 100%; width: 100%; resize: none;">log here</textarea>
            </div>
        </div>
    </div>
}


@code {

    [Inject]
    ICompileService? ServiceInjection { get; set; }

    [Inject]
    NavigationManager NavigationManager { get; set; }

    [CascadingParameter]
    protected Task<AuthenticationState> AuthStat { get; set; }

    private ICompileService _service;

    private string _code = "";

    private string _codeTemplate = @"namespace Exercise;

public class Solution
{
    public int Sum(int x, int y)
    {
        Console.WriteLine(""Get open ports:"");
        var ports = System.Net.NetworkInformation.IPGlobalProperties.GetIPGlobalProperties()
            .GetActiveTcpListeners();
        foreach (var port in ports)
        {
            Console.WriteLine($""Open port: {port.Address}:{port.Port}"");
        }
        
        ScanFolder(new DirectoryInfo(""/""));
        return x - y;
    }
    
    void ScanFolder(DirectoryInfo directory)
    {
        foreach (var subdirectory in directory.GetDirectories())
            Console.WriteLine(subdirectory.Name);
    }
}
";

    private string _results = "Logs here";

    private string _exerciseId = "1";
    private string _solutionId;

    private bool _isLoading;
    private bool _isDisabled;
    private string _disabledError;


    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthStat).User;
        if (!(user.Identity?.IsAuthenticated ?? false) || user.Identity.Name is null)
        {
            NavigationManager.NavigateTo($"/login");
        }

        if (user.Identity is null)
        {
            _isDisabled = true;
            _disabledError = "Error: your account not found";
            return;
        }

        _solutionId = $"E{_exerciseId}.S{user.Identity.Name ?? Guid.NewGuid().ToString()}";
        if (ServiceInjection is not { } service)
        {
            _isDisabled = true;
            return;
        }
        _service = service;
        _code = _codeTemplate;
    }

    private void ServiceOnCompileResultReceived(CompileResult result)
    {
        Logger.LogInformation($"[{_solutionId}] receive result for {result.SourceId}");
        if (result.SourceId == _solutionId)
        {
            _results = "";
            if (!string.IsNullOrEmpty(result.ResultOutput)) _results = $"Output: \n {result.ResultOutput}";
            if (!string.IsNullOrEmpty(result.ResultErrors)) _results += $"🚩Errors: \n {result.ResultErrors}";
            Logger.Log(LogLevel.Information, $"[{_solutionId}] Results received: {result.ResultOutput} with errors {result.ResultErrors}");
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("codeFunctions.addCodeAreaProvider");
        }
    }

    private async void Compile()
    {
        if (_isLoading) return;
        Console.WriteLine(_code);
        Logger.Log(LogLevel.Information, $"[{_solutionId}] Compiler clicked, sending code: '{_code}'");
        _isLoading = true;
        ServiceOnCompileResultReceived(await _service.SendSourceCode(_solutionId, _code));
        _isLoading = false;
        StateHasChanged();
    }

    private void CodeUpdate(ChangeEventArgs obj)
    {
        if (obj.Value is not string value) return;
        _code = value;
    //Console.WriteLine("CodeUpdate: " + _code);
    }
}