@page "/"
@using Application.Data.Account
@attribute [Authorize]

<PageTitle>Мои курсы</PageTitle>

<h1 class="display-3 my-5">Мои курсы</h1>
<AuthorizeView Roles="@(RoleController.StudentRole)">
    <table class="table">
        <thead>
        <tr class="align-middle">
            <th scope="col">Название</th>
            <th scope="col">Автор</th>
            <th scope="col">Завершенность</th>
        </tr>
        </thead>
        <tbody>
        <tr class="align-middle">
            <th scope="row">
                <button class="btn btn-dark align-items-center d-flex justify-content-center">
                    <strong>Python 3 Основы</strong>
                    <i class="ph ph-caret-right ms-1" style="padding-top: 0.13em; font-size: 1.2em;"></i>
                </button>
            </th>
            <td>Тепляков П.С.</td>
            <td>
                <div class="progress my-2">
                    <div class="progress-bar" role="progressbar" style="width: 78%;" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100">78%</div>
                </div>
            </td>
        </tr>
        <tr class="align-middle">
            <th scope="row">
                <button class="btn btn-dark align-items-center d-flex justify-content-center">
                    <strong>C# Основы</strong>
                    <i class="ph ph-caret-right ms-1" style="padding-top: 0.13em; font-size: 1.2em;"></i>
                </button>
            </th>
            <td>Тепляков П.С.</td>
            <td>
                <div class="progress my-2">
                    <div class="progress-bar" role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                </div>
            </td>
        </tr>
        <tr class="align-middle">
            <th scope="row">
                <button class="btn btn-dark align-items-center d-flex justify-content-center">
                    <strong>Алгоритмы</strong>
                    <i class="ph ph-caret-right ms-1" style="padding-top: 0.13em; font-size: 1.2em;"></i>
                </button>
            </th>
            <td>Синусов К.С.</td>
            <td >
                <div class="progress my-2">
                    <div class="progress-bar" role="progressbar" style="width: 29%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">29%</div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
  </AuthorizeView>  
<AuthorizeView Roles="@(RoleController.LecturerRole)">
    <div class="col gy-1">

        <div class="btn-toolbar my-2" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group">

                <button class="btn btn-primary align-items-center d-flex justify-content-center">
                    <i class="ph ph-plus me-1" style="padding-top: 0.13em; font-size: 1.2em;"></i>
                    <span>Новый курс</span>
                </button>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr class="align-middle">
            <th scope="col">Название</th>
            <th scope="col">Статус</th>
        </tr>
        </thead>
        <tbody>
        <tr class="align-middle">
            <th scope="row">
                <button class="btn btn-dark align-items-center d-flex justify-content-center">
                    <strong>Python 3 Основы</strong>
                    <i class="ph-bold ph-caret-right ms-1" style="padding-top: 0.13em; font-size: 1.2em;"></i>
                </button>
            </th>
            <td class="text-success" >
                <i class=" ph-fill ph-check-fat ms-1" style="padding-top: 0.2em; font-size: 1em;"></i>
                <strong class=" mx-1">Опубликован</strong>
            </td>
        </tr>
        <tr class="align-middle">
            <th scope="row">
                <button class="btn btn-dark align-items-center d-flex justify-content-center">
                    <strong>Python 3 Тесты</strong>
                    <i class="ph ph-caret-right ms-1" style="padding-top: 0.13em; font-size: 1.2em;"></i>
                </button>
            </th>
            <td class="text-secondary" >
                <i class=" ph-fill ph-pencil-simple ms-1" style="padding-top: 0.2em; font-size: 1em;"></i>
                <strong class=" mx-1">Черновик</strong>
            </td>
        </tr>
        </tbody>
    </table>
</AuthorizeView>

@code
{

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

}
