@page "/course/edit/{id:int}"
@using Application.Data.Account
@attribute [Authorize(Roles = $"{RoleController.LecturerRole}")]

<h3>Edit Course @Id</h3>

@code {
    [Parameter]
    public int Id { get; set; }
}