@page "/faq"

<div class="container overflow-hidden p-3">
    <h1>Часто задаваемые вопросы</h1>
    <div class="accordion" id="faq">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#c1" aria-expanded="false" aria-controls="c1">
                    Как получить логин и пароль?
                </button>
            </h2>
            <div id="c1" class="accordion-collapse collapse" data-bs-parent="#faq">
                <div class="accordion-body">
                    Обратитесь на <strong>кафедру</strong> для выдачи Вашего индивидуального логина и пароля
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c2"
                        aria-expanded="false" aria-controls="c2">
                    Как создать курс преподавателю?
                </button>
            </h2>
            <div id="c2" class="accordion-collapse collapse" data-bs-parent="#faq">
                <div class="accordion-body d-flex align-items-center justify-content-start">
                    <span class="px-2">Новый курс можно создать на <strong>главной странице кабинета преподавателя</strong>, нажав на кнопку</span>
                    <span class="btn btn-primary align-items-center d-flex justify-content-center px-2">
                        <i
                            class="ph ph-plus me-1"
                            style="padding-top: 0.13em; font-size: 1.2em;">
                        </i><span>Новый курс</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c3"
                        aria-expanded="false" aria-controls="c3">
                    Как назначить группу на курс?
                </button>
            </h2>
            <div id="c3" class="accordion-collapse collapse" data-bs-parent="#faq">
                <div class="accordion-body d-grid align-items-center justify-content-start">
                    <span>Перейти во вкладку <strong>“Группы”</strong> </span>
                    <i class="ph-light ph-arrow-down py-2" style="font-size: 1.5em;"></i>
                    <span>Выбрать необходимый курс<em class="text-secondary">(ы)</em> из списка</span>
                    <i class="ph-light ph-arrow-down py-2" style="font-size: 1.5em;"></i>
                    <span>
                        Нажать появившуюся кнопку
                        <span
                            class="btn btn-primary px-2">
                            Добавить группы выбранным курсам
                        </span>
                    </span>
                    <i class="ph-light ph-arrow-down py-2" style="font-size: 1.5em;"></i>
                    <span>В открывшемся окне выбрать нужные группы</span>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#c4" aria-expanded="false" aria-controls="c4">
                    Что-то сломалось, к кому обратиться?
                </button>
            </h2>
            <div id="c4" class="accordion-collapse collapse" data-bs-parent="#faq">
                <div class="accordion-body d-flex align-items-center justify-content-start">
                    Напишите на почту&nbsp; <a href="mailto:support@vpl.ru">support@vpl.ru</a> &nbsp;или обратитесь к
                    администратору
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}