@page "/"
@using Application.Data.Account
@using Microsoft.AspNetCore.Identity
@attribute [Authorize]

<PageTitle>Мои курсы</PageTitle>

<h1 class="display-3 my-5">Мои курсы</h1>

<AuthorizeView Roles="@(RoleController.StudentRole)">
    <StudentIndex></StudentIndex>
</AuthorizeView>
<AuthorizeView Roles="@(RoleController.LecturerRole)">
    <LecturerIndex></LecturerIndex>
</AuthorizeView>

