<!-- @ModalId -->
<div class="modal fade" id="@ModalId" tabindex="-1" aria-labelledby="@(ModalId)Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-center">
                <h5 class="modal-title" id="@(ModalId)Label">@Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Body
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter] public string ModalId { get; set; }
    
    [Parameter]
    public RenderFragment Title { get; set; }
    
    [Parameter]
    public RenderFragment Body { get; set; }
}