@using Microsoft.AspNetCore.Identity
@using Application.Shared.Utils
@using System.ComponentModel.DataAnnotations
@using Application.Pages.Admin.Data
@using Application.Services.Admin
@using Common.Account
@using Common.Lecturers
@inject IAdminService AdminService
@inject ILogger<AdminStudentModal> Logger
@namespace Application.Pages.Admin

<!-- Modal -->
<div class="modal fade " id="@ModalId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <EditForm OnValidSubmit="Submit" class="modal-content" Model="_model">
            <DataAnnotationsValidator/>
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> @( _isNew ? "Новый" : "") Преподаватель @(_model.User.UserName)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Код</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" @bind="_model.User.UserName">
                    <div id="emailHelp" class="form-text">Код нового преподавателя</div>
                    <ValidationMessage For="() => _model.User.UserName"></ValidationMessage>
                </div>
                <div class="row mb-3">
                    <label class="form-label">ФИО</label>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Фамилия" aria-label="Фамилия" @bind="_model.User.Surname">
                        <ValidationMessage For="() => _model.User.Surname"></ValidationMessage>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Имя" aria-label="Имя" @bind="_model.User.Name">
                        <ValidationMessage For="() => _model.User.Name"></ValidationMessage>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Отчество" aria-label="Отчество" @bind="_model.User.Patronymic">
                        <ValidationMessage For="() => _model.User.Patronymic"></ValidationMessage>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="facultyInput" class="form-label">Факультет</label>
                    <input type="text" class="form-control" id="facultyInput" @bind="_model.Lecturer.Faculty">
                    <ValidationMessage For="() => _model.Lecturer.Faculty"></ValidationMessage>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Пароль</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" @bind="_model.Password">
                    <ValidationMessage For="() => _model.Password"></ValidationMessage>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button class="btn btn-primary" type="submit" data-bs-dismiss="modal">Сохранить</button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    
    [Parameter] public string ModalId { get; set; }
    [Parameter] public Action? OnSuccess { get; set; }

    [Parameter]
    public Lecturer? Lecturer
    {
        get => _model.Lecturer;
        set
        {
            _isNew = value is null;
            _model = new LecturerModel
                {
                    Lecturer = value ?? new Lecturer { User = new User()}
                };
        }
    }
    LecturerModel _model;
    
    private bool _isNew;

    private async Task Submit()
    {
        var result =  _isNew 
            ? await AdminService.CreateLecturerWithUserAsync(_model) 
            : await AdminService.UpdateLecturerWithUserAsync(_model);
        OnSuccess?.Invoke();
    }

}